.border {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 5px solid rgba(0, 0, 0, 0.88);;
    border-radius: 1em;
    background-color: #532b88;
    margin-top: 74px;
}
/* .ant-form-item-required {
    font-style: oblique;
    color: whitesmoke;
    font-weight: bold;
} */
.labelStyle {
    font-style: oblique;
    color: whitesmoke;
    font-weight: bold;
  }

  .buttonGen{
    background-color: rgb(19, 97, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
  .head{
    background-color: lightseagreen;
    width: 100%;
    /* height: 94px; */
    color: whitesmoke;
    resize: none;
    height: 4em;
}
.breadcrump{
    clear: left;
    margin-left: 10px;
    color: antiquewhite;
}
.heading{
  margin-top: 1.5em;
  color: orangered;
  font-style: oblique;
  font-weight: bold;
  font-size: 30px;
}
.heading2{
  margin-top: 1.5em;
    font-style: italic;
    color: whitesmoke;
    font-weight: 600;
    font-size: 22px;
}

.promptResult {
  width: 100%;
  /* display: flex;
  justify-content: center; */
  border: 3px solid rgba(0, 0, 0, 0.88);;
  border-radius: 10px;
  background-color: darkgreen;
  margin-top: 40px;
}
.hrCSS{
  width: 98%;
  border: 1px solid rgba(168, 168, 168, 0.3);
  margin-top: 1.5em;
}
.ant-breadcrumb a{
  color: antiquewhite;
}
.ant-breadcrumb .ant-breadcrumb-separator{
  color: antiquewhite;
}
.ant-breadcrumb a:hover {
  color: antiquewhite;
}