.borderText {
    /* width: 100%;
    display: flex;
    justify-content: center;
    border: 5px solid rgba(0, 0, 0, 0.88);;
    border-radius: 1em;
    background-color: #532b88;
    margin-top: 74px; */
        display: flex;
        margin: 10em;
        justify-content: center;
        border: 3px solid rgba(0, 0, 0, 0.6);
        border-radius: 1em;
        margin-top: 74px;
        background-color: #2c4e6a;
}
/* .ant-form-item-required {
    font-style: oblique;
    color: whitesmoke;
    font-weight: bold;
} */
.labelStyleText {
    font-style: oblique;
    color: whitesmoke;
    font-weight: bold;
  }

  .buttonGenText{
    background-color: #253a78;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-color: #bccaff;
  }
  .copyPromptBtnText{
    background-color: #253a78;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-color: #bccaff;
  }
  .cancelBtnText{
    background-color: #253a78;
    border-color: #bccaff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    color: rgb(255, 255, 255);
  }
  .textAreaText{
    background: rgb(44 140 138);
    font-family: Arial, sans-serif;
    margin-right: 57em;
  }
  .headText{
    background-color: lightseagreen;
    width: 100%;
    /* height: 94px; */
    color: whitesmoke;
    resize: none;
    height: 4em;
}
.breadcrump{
    clear: left;
    margin-left: 10px;
    color: antiquewhite;
}
.headingText{
  margin-top: 1.5em;
  color: orangered;
  font-style: oblique;
  font-weight: bold;
  font-size: 30px;
}
.heading2Text{
  margin-top: 1.5em;
    font-style: italic;
    color: whitesmoke;
    font-weight: 600;
    font-size: 22px;
}
.promptResultMainText{
  margin-right: 10em;
    margin-top: -5em;
    margin-left: 10em;
}

.promptResultText {
  /* width: 100%; */
  /* display: flex;
  justify-content: center; */
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: #2c4e6a;
  /* margin: 10em; */
  padding: 3em;
}
.hrCSSText{
  width: 98%;
  border: 1px solid rgba(168, 168, 168, 0.3);
  margin-top: 1.5em;
}
.ant-breadcrumb a{
  color: antiquewhite;
}
.ant-breadcrumb .ant-breadcrumb-separator{
  color: antiquewhite;
}
.ant-breadcrumb a:hover {
  color: antiquewhite;
}
.skeletonCssText{
  margin-right: 10em;
    margin-top: -5em;
    margin-left: 10em;
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-color: #2c4e6a;
    padding: 3em;
}