.textAreaImage{
    background: rgb(44 140 138);
    font-family: Arial, sans-serif;
    margin-right: 57em;
  }
  .cancelBtnImage{
    background-color: #253a78;
    border-color: #bccaff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    color: rgb(255, 255, 255);
  }
  .promptResultImage{
    /* display: flex; */
    margin: 10em 10em 0em 10em;
        /* justify-content: center; */
        border: 3px solid rgba(0, 0, 0, 0.6);
        border-radius: 1em;
        background-color: #2c4e6a;
        /* display: flex; */
        
  }
  .skeletonCssImage{
    /* margin-right: 10em;
      margin-top: -5em;
      margin-left: 10em; */
      margin: 10em;
      border: 3px solid rgba(0, 0, 0, 0.6);
      border-radius: 1em;
      margin-top: -75px;
      background-color: #2c4e6a;
      /* padding: 3em; */
  }
  .labelStyleImage {
    font-style: oblique;
    color: whitesmoke;
    font-weight: bold;
  }
  .buttonGenImage{
    background-color: #253a78;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-color: #bccaff;
    margin-left: 1em;
  }
  .headImage{
    background-color: lightseagreen;
    width: 100%;
    /* height: 94px; */
    color: whitesmoke;
    resize: none;
    height: 4em;
}
.headingImage{
    margin-top: 1.5em;
    color: orangered;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
  }
  .heading2Image{
    margin-top: 1.5em;
      font-style: italic;
      color: whitesmoke;
      font-weight: 600;
      font-size: 22px;
  }
  .borderImage {
        display: flex;
        margin: 10em;
        justify-content: center;
        border: 3px solid rgba(0, 0, 0, 0.6);
        border-radius: 1em;
        margin-top: 74px;
        background-color: #2c4e6a;
}
.hrCSSImage{
    width: 98%;
    border: 1px solid rgba(168, 168, 168, 0.3);
    margin-top: 1.5em;
  }
  .viewImageButton{
    margin: 1em;
    background-color: #253a78;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-color: #bccaff;
  }
  .downloadImageButton{
    background-color: #253a78;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-color: #bccaff;
  }

