.textArea{
    background: rgb(44 140 138);
    font-family: Arial, sans-serif;
    margin-right: 57em;
  }
  .cancelBtn{
    background-color: #253a78;
    border-color: #bccaff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    color: rgb(255, 255, 255);
  }
  .promptResult{display: flex;
        margin: 10em;
        justify-content: center;
        border: 3px solid rgba(0, 0, 0, 0.6);
        border-radius: 1em;
        margin-top: 74px;
        display: flex;
        
  }
  .skeletonCss{
    margin-right: 10em;
      margin-top: -5em;
      margin-left: 10em;
      border: 3px solid rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      background-color: #2c4e6a;
      padding: 3em;
  }
  .imageBtn{
    background-color: #253a78;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-color: #bccaff;
  }